<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">OhMyPiaf</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="posts.html">All Posts</a></li>
            </ul>
            <!-- si non connecté-->
            {{^userLogged}}
            <ul class="nav navbar-nav pull-right">
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
            </ul>
            {{/userLogged}}
            <!-- si connecté-->
            {{#userLogged}}
            <ul class="nav navbar-nav pull-right">
                <li><a href="login.html">My Profile</a></li>
                <li><a href="logout.html">Logout</a><li>
            </ul>
            {{/userLogged}}
        </div>
    </div>
</nav>
<br /><br /><br />
{{#userLogged}}
<div class="pull-left">
    <p>Hello, <strong>{{userLogged.username}}</strong></p>
</div>
<a class="pull-right btn btn-primary" href="addPost.html">
    Add Post
</a>
{{/userLogged}}
