<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>PiafBlog</title>
    {{>layouts/include}}
    {{>layouts/header}}
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Liste des derniers posts</h1>
        </div>
        {{#latest5posts}}
        <div class="list-group-item">
            <h4 class="list-group-item-heading">{{title}}</h4>
            <p class="list-group-item-text"><a href="profile/{{author.username}}">@{{author.username}}</a> {{body}}</p>
        </div>
        {{/latest5posts}}

        <div class="page-header">
            <h1>Liste des utilisateurs</h1>
        </div>
        {{#users}}
        <div class="list-group-item">
            <p class="list-group-item-text">{{username}}</p>
        </div>
        {{/users}}
        <br /><br /><br />
    </div>
    {{>layouts/footer}}
</body>
</html>