<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>PiafBlog</title>
    {{>layouts/include}}
    {{>layouts/header}}
</head>
<body>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Profile : {{userName}}</h3>
            </div>
            <div class="panel-body">
                FullName : {{fullName}}
                <br />
                <a class="btn btn-primary" href="{{userName}}/posts">See {{userName}} posts</a>
            </div>
        </div>
    </div>
    {{>layouts/footer}}
</body>
</html>
